<div class="page-width page-width--narrow">
  <h2 class="page-title">
    {%- if section.settings.title != blank -%}
      {{ section.settings.title | escape }}
    {%- endif -%}
  </h2>
  <div class="rte">
    {%- if section.settings.hero_image_url != blank -%}
      <img
      src="{{ section.settings.hero_image_url }}"
      width="{{ image.width }}"
      height="{{ image.height }}"
      loading="lazy"
      >

      <!-- <img
      src="{{ section.settings.hero_image }}"
      width="{{ image.width }}"
      height="{{ image.height }}"
      loading="lazy"
      > -->
    {%- else -%}
      <div class='page-placeholder-wrapper placeholder'>
        {{ 'page' | placeholder_svg_tag: 'page-placeholder' }}
      </div>
    {%- endif -%}
  </div>
</div>

{% schema %}
{
  "name": "Main Product 2",
  "settings": [
    {
      "type": "text",
      "id": "hero_image_url",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Coffee School 2"
    }
  ],
  "presets": [
    {
      "name": "Coffee School"
    }
  ]
}
{% endschema %}
